clipboard.h=984

clipboard.maximized=false

clipboard.w=992

clipboard.waves=0

clipboard.x=628

clipboard.y=0

helicorder=helicorder-0

helicorder-0.alertClip=false

helicorder-0.alertClipTimeout=300

helicorder-0.autoScale=false

helicorder-0.barMult=9.75

helicorder-0.barRange=926

helicorder-0.bottomTime=NaN

helicorder-0.channel=ORNO HHZ NE 00

helicorder-0.clipBars=21

helicorder-0.clipValue=1994

helicorder-0.forceCenter=false

helicorder-0.h=998

helicorder-0.maximized=false

helicorder-0.pinned=false

helicorder-0.refreshInterval=15

helicorder-0.scrollSize=24

helicorder-0.showClip=true

helicorder-0.source=ORNO ew

helicorder-0.span=1440

helicorder-0.timeChunk=1800

helicorder-0.w=1706

helicorder-0.wave.alternateOrientationCode=Z12

helicorder-0.wave.autoScaleAmp=true

helicorder-0.wave.autoScaleAmpMemory=true

helicorder-0.wave.autoScalePower=false

helicorder-0.wave.autoScalePowerMemory=true

helicorder-0.wave.binSize=2.0

helicorder-0.wave.filter.corner1=1.0

helicorder-0.wave.filter.corner2=10.0

helicorder-0.wave.filter.order=4

helicorder-0.wave.filter.samplingRate=100.0

helicorder-0.wave.filter.type=B

helicorder-0.wave.filterOn=false

helicorder-0.wave.logFreq=true

helicorder-0.wave.logPower=true

helicorder-0.wave.maxAmp=1000.0

helicorder-0.wave.maxFreq=45.0

helicorder-0.wave.maxPower=120.0

helicorder-0.wave.minAmp=-1000.0

helicorder-0.wave.minFreq=0.0

helicorder-0.wave.minPower=20.0

helicorder-0.wave.nfft=0

helicorder-0.wave.removeBias=true

helicorder-0.wave.spectrogramOverlap=0.86

helicorder-0.wave.useAlternateOrientationCode=false

helicorder-0.wave.useUnits=true

helicorder-0.wave.viewType=G

helicorder-0.wave.zeroPhaseShift=false

helicorder-0.waveZoomOffset=30

helicorder-0.x=0

helicorder-0.y=0

kiosk=false

kioskX=-1

kioskY=25

name=ORNO

